body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  background-color: #006eb6;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
img {
  border-radius: 5%;
  box-shadow: 5px 5px 10px #000000;
  display: block;
  max-width: 25%;
  height: auto;
  margin: 0;
}
span {
  padding: 2rem;
  font-size: 2rem;
  color: white;
  font-family: "Ubuntu", sans-serif, serif;
}

#menu {
  font-size: 1.5rem;
  border: 0;
  background: none;
  color: white;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
#menu::before {
  content: "☰";
}
#menu.open::before {
  content: "X";
}
.navigation {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  background-color: black;
}
.navigation a {
  display: none;
  font-family: "Ubuntu", sans-serif, serif;
  color: azure;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}
.navigation a:hover {
  text-decoration: underline;
  color: yellow;
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
  display: block;
}

main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: none;
}
ul {
  list-style: none;
}
.card {
  background-color: white;
  border: 1px solid grey;
  margin-top: 10px;
}
.card h2 {
  background-color: #006eb6;
  padding: 1rem;
  text-align: center;
  color: aliceblue;
  margin-top: -1px;
}
ul li a {
  text-decoration: none;
}

main a {
  color: #006eb6;
}

main a:hover {
  color: rebeccapurple;
  text-decoration: underline;
}
.title {
  font-size: 1.1rem;
  border-bottom: 1px solid black;
}
footer {
  font-family: "Ubuntu", sans-serif, serif;
  text-align: center;
  background-color: #006eb6;
  padding: 0.5rem;
  margin-top: 1.5rem;
}
#copyright {
  color: white;
}
#lastModified {
  color: yellow;
}
